html, body {
    height: 100%;
    color: rgb(204, 204, 204);
    background-color: rgb(50, 50, 50) !important;
    margin: 0px; padding: 0px;
}

.title-banner{
    color: rgb(156, 219, 253);
}

a, a:hover {
    color: inherit;
    text-decoration: inherit;
}

.title-banner h1{
    display: inline;
}

.title-banner img{
    margin-right: 20px;
    border-radius: 10px;
    height: 80px;
}


#data-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
}
.side-banner{
    display: grid;
    height: 100%;
}

.tile{
    background-color: rgb(70, 70, 70);
    margin: 6px;
    text-align: center;
    padding: 20px;
}

.data:hover{
    background-color: rgb(206, 145, 120);
    transform: scale(1.05);
    transition:background-color 0.3s linear,transform 0.3s linear;
}

.ad{
    background-color: rgb(70, 70, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
}
.disappeared{
    opacity: 0;
    visibility: hidden;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}
