body {
    height: 100vh;
    color: rgb(204, 204, 204);
    background-color: rgb(50, 50, 50) !important;
}
.headerBanner{
    color: rgb(156,219, 253);
    height: 120px;
}

.middleSection{
    /* height: 100%; */
    /* background-color: rgb(246, 248, 222); */
}

.footer{
    /* position: absolute; */
    /* bottom: 0; */
    /* background-color: rgb(225, 249, 248); */
    height: 80px;
}

.ad{
    background-color: rgb(70, 70, 70);
    height: 90px;
    margin-top: 2px;
    text-align: center;
    line-height: 90px;
}


